
<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Corey Shanahan's Final Year Project</h1>
    </mat-toolbar-row>
    <mat-toolbar-row color="warning" class="warning-msg">
      Site under construction
    </mat-toolbar-row>
  </mat-toolbar>
</header>
  
  <main>
    <div>
      <mat-card class="info">
        <!-- <mat-card-title>Chaos Chefs</mat-card-title> -->
        <mat-card-content>
          <img mat-card-image src="../assets/chaos-chef-logo.jpg" class="logo">
        </mat-card-content>
      </mat-card>
      <mat-card>
        <img width="288" height="400px">
        <form action="file" method="get">
          <button mat-flat-button color="primary"><mat-icon>cloud_download</mat-icon>Download Poster</button>
        </form>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-card-content>
          <iframe width="610" height="343"
          src="https://www.youtube.com/embed/9zo-Qbt7ZFg">
          </iframe> 
        </mat-card-content>   
      </mat-card>
      <mat-card>
        <img mat-card-image src="../assets/profile_pic.png" height="200px" width="200px">
      </mat-card>
    </div>
  </main>
<router-outlet />
