<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="header">
      <h1>Corey Shanahan's Final Year Project 2023/24</h1>
    </mat-toolbar-row>
    <mat-toolbar-row color="warning" class="warning-msg">
      Site under construction
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>
  <div>
    <mat-card class="info">
      <mat-card-title class="title">Project Information</mat-card-title>
      <mat-divider class="project-divider"></mat-divider>
      <mat-card-content>
        <div class="content-info">
          <img mat-card-image src="assets/chaos-chef-logo.jpg" class="logo">
          
          <div class="content-info-titles">
            <div>
              <mat-card-title>Commercial Title</mat-card-title>
              <p>Chaos Chefs</p>
            </div>
            <div class="academic-title">
              <mat-card-title>Academic Title</mat-card-title>
                <!-- <mat-chip><div>Unity Based Multiplayer Video Game in Virtual Reality</div></mat-chip> -->
                <p>Unity Based Multiplayer Video Game in Virtual Reality</p>
            </div>
          </div>
        </div>
        <div class="abstract">
          <mat-card-title>Project Abstract</mat-card-title>
          <p align="justify">
            Chaos Chefs is a Virtual Reality (VR) cooking simulator game, the player takes on the role of a chef in a
            fast pace kitchen. The game has a multiplayer feature where players can join each other and cook recipes
            together. Each round of the game will last between 5 and 10 minutes, during which the players will have
            multiple customers ordering burgers with different toppings. The players will need to grill the burger
            patties, chop tomatoes, onions, pickles and then put all the ingredients together on a plate but customers
            are inpatient and if the players takes too long to complete their order. The customer will get angry and
            leave. When the players get the burgers out on time, with the correct toppings, the players will earn cash
            to upgrade their kitchens.
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <form action="{{gitHubLink}}" method="get" target="_blank">
          <button mat-raised-button>GitHub Repo Link</button>
        </form>
        <form action="{{posterLink}}" method="get" target="_blank">
          <button mat-raised-button>Poster Link</button>
        </form>
        <form action="{{buttonVideoLink}}" method="get" target="_blank">
          <button mat-raised-button>Video Demo Link</button>
        </form>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title class="title">Poster</mat-card-title>
      <mat-divider class="project-divider"></mat-divider>
      <img class="poster" width="380px" src="assets/poster.png">
      <!-- <embed src="assets/poster.pdf" width="380px" /> -->
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title class="title">Demo Video</mat-card-title>
      <mat-divider class="project-divider"></mat-divider>
      <mat-card-content>
        <iframe width="610" height="343" [src]="urlSafe"></iframe>
      </mat-card-content>
    </mat-card>
    <mat-card class="about-me">
      <mat-card-header class="profile-pic-container">
        <img mat-card-image src="assets/profile_pic.png" width="250px" class="profile-pic">
      </mat-card-header>
      <mat-card-content class="about-me-content">
        <div>
          <mat-card-title>Corey Shanahan</mat-card-title>
          <mat-card-subtitle>BSc (Hons) in Applied Computing</mat-card-subtitle>
        </div>
        <img mat-card-image src="assets/SETU Profile.png" height="60px" class="setu-logo">
      </mat-card-content>
      <mat-card-footer class="about-me-footer">
      </mat-card-footer>
    </mat-card>
  </div>
</main>
<router-outlet />