/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

body{
    margin: 0;
    padding-bottom: 1rem;
    height: 100%;
    background: rgba(105, 117, 192, 0.514);
    // background: linear-gradient(180deg, rgba(105,116,192,0.9287114504004726) 0%, rgba(9,9,121,0.11078427953212533) 100%); 
}